@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow:hidden;
  overflow-x:hidden;
  overflow-y:scroll;
}

@media (min-width: 1024px) { 
  body{
    background-color: #0000ffbf;
    padding-top: 1rem; padding-bottom: 1rem;
  }
}

:root{
  --color-distintivo: #3dbfb3;
  --fondo-section-oscuro: #21201f;
  --fondo-section-claro: #303030;
  --color-icono-section: #3733b7;
}

.texto-color-distintivo{
  color: var(--color-distintivo)
}

.border-color-distintivo{
  border-color: var(--color-distintivo);
}

.home-img-fondo {
  background: url(./imagenes/home/home-fondo.jpg) no-repeat center / cover ;
  height: 650px;
  width: 100%;
}

.home-fondo-traslucido{
  background-color: #21201eb8;
}

.imagen-avatar{
  background: url(./imagenes/home/home-avatar.jpg) no-repeat center / cover;
}

.fondo-section-oscuro{
  background-color: var(--fondo-section-oscuro);
}

.fondo-section-claro{
  background-color: var(--fondo-section-claro);
}

.color-icono-section{
  color: var(--color-icono-section);
}

.section-standar{
  color: #fff;
  padding: 30px 1rem 80px 1rem;
}

.bg-color-distintivo{
  background-color: var(--color-distintivo);
}
